<div class="container">
  <p>
    <strong>First name:</strong>
    <%= @admin_client.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @admin_client.last_name %>
  </p>

  <p>
    <strong>Phone no:</strong>
    <%= @admin_client.phone_no %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @admin_client.email %>
  </p>
  <%= link_to 'Back', admin_clients_path, class: 'btn btn-success' %>
</div>
