<div class="table-wrapper-scroll-y my-custom-scrollbar" id="comment-list">
  <% @comments.each do |comment| %>
    <div class="row shrink-comment">
      <div class="container">
        <div class="comment-wrapper">
          <div class="panel panel-info">
            <div class="panel-body">
              <div class="clearfix"></div>
              <hr>
              <div class="media-list">
                <div class="media">
                  <div class="container">
                    <div class="pull-left">
                      <% if !comment.creator.image.blank? %>
                        <img src="<%= comment.creator.image.url %>" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
                      <% else %>
                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="rounded-circle">
                      <% end%>
                    </div>
                    <div class="media-body">
                      <span class="text-muted pull-right">
                        <small class="text-muted"><%= comment.updated_at.strftime(" %I:%M%p")  %></small>
                        <% if comment.creator_id == current_user.id %>
                          <%= link_to fa_icon('pencil-square', text: ''), edit_comment_url(comment), remote: true%>
                          <%= link_to fa_icon('trash', text: ''), comment_url(comment), method: :delete, remote: true, confirm: "Are you sure that you wish to delete ?" %>
                        <% end %>
                      </span>
                      <h5 class="text-success"><%= comment.creator.name %></h5>
                      <p>
                        <%= comment.text %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
