<div class="container">

  <p>
    <strong>First name:</strong>
    <%= @manager_client.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @manager_client.last_name %>
  </p>

  <p>
    <strong>Phone no:</strong>
    <%= @manager_client.phone_no %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @manager_client.email %>
  </p>
  <%= link_to 'Back', manager_clients_path, class: 'btn btn-warning' %>
</div>
