<div class="container-fluid" style="float: left;">
  <div class="row">
    <div class="col-md-8">
      <div class = "shadow-lg p-3 mb-7 bg-white rounded shrink" id="a-unique-class">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Manager</th>
              <th>Client</th>
              <th>Creator</th>
              <th>Total Hours</th>
              <th>Hours Worked</th>
              <th>Budget</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><%= @project.title %></td>
                <td><%= @project.description %></td>
                <td><%= @project.manager.name %></td>
                <td><%= @project.client.first_name %></td>
                <td><%= @project.creator.name %></td>
                <td><%= @project.total_hours %></td>
                <td><%= @project.hours_worked %></td>
                <td><%= @project.budget %></td>
              </tr>
          </tbody>
       </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class = "shadow-lg p-3 mb-5 bg-white rounded shrink">
        <div class="container">
          <%= render 'comments/commentlist', comments: @comments %>
          <%= render 'comments/form', commentable_id: @project.id, commentable_type: 'Project' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix mb-2"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4.5">
      <div class = "shadow-lg p-3 mb-7 bg-white rounded shrink">
        <% if current_user.role == 'admin'%>
        <%= link_to fa_icon('plus-square',text: "New Payment"), new_admin_project_payment_url(@project), class: "btn btn-primary", remote: true %>
        <div id = "payment-list">
          <%= render 'payments/paymentlist', url_type: 'admin', payments: @payments%>
       </div>
        <% elsif current_user.role == 'manager'%>
        <%= link_to fa_icon('plus-square',text: "New Payment"), new_manager_project_payment_url(@project), class: "btn btn-primary", remote: true %>
        <div id = "payment-list">
          <%= render 'payments/paymentlist', url_type: 'manager', payments: @payments%>
       </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-7.5">
      <div class = "shadow-lg p-3 mb-7 bg-white rounded shrink">
        <%= link_to fa_icon('user-plus', text: "New timelog"), new_admin_project_timelog_url(@project), class: "btn btn-primary", remote: true %>
        <div id = "timelog-list">
          <%= render 'admin/timelogs/timelogslist', timelogs: @timelogs %>
       </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="my-modal" title="My modal"></div>
