<div class="container">
  <h1 align="center">Editing Timelog</h1>
</div>
<div class="container">
  <%= form_with(model: @timelog, url: user_timelog_url, local: true) do |form| %>
    <% if @timelog.errors.any? %>
      <div id="error_explanation">
        <%= render 'shared/error', error: @timelog %>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :start_time %><div class="clearfix mb-3">
      <%= form.datetime_field :start_time, :ampm => true, :minute_step => 15, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :end_time %><div class="clearfix mb-3">
      <%= form.datetime_field :end_time, :ampm => true, :minute_step => 15, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.submit "Save timelog", class: 'btn btn-success' %>
    </div>
  <% end %>
  <%= link_to 'Back', user_project_timelogs_url(@project.id), class: 'btn btn-warning' %>
</div>
